In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/chainRn4/")

## Data preview

In [3]:
display(df_data)

       contig  pos_start    pos_end  width
0       chr10   47133508   47133871    363
1       chr11   55541087   55541812    725
2       chr10  124351760  124351935    175
3       chr11  123777266  123778042    776
4       chr11  124252330  124253245    915
...       ...        ...        ...    ...
293865   chr7   57342331   57342866    535
293866   chr9   92994503   92995368    865
293867   chr8   49297102   49297664    562
293868   chr6  169240731  169241192    461
293869   chrX  108585022  108586073   1051

[2350965 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   72,228,656.41
median                 55,782,542.00
std                    58,856,452.00
min                         5,282.00
max                   249,231,251.00
25th quantile          28,097,355.00
50th quantile          55,782,542.00
75th quantile         107,090,311.00
90th quantile         152,193,244.60
95th quantile         185,175,625.20
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   72,230,770.34
median                 55,783,458.00
std                    58,856,706.15
min                         6,182.00
max                   249,231,425.00
25th quantile          28,097,585.00
50th quantile          55,783,458.00
75th quantile         107,090,849.00
90th quantile         152,193,606.00
95th quantile         185,176,508.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                        2,113.93
median                        621.00
std                       245,921.69
min                            31.00
max                   143,596,022.00
25th quantile                 276.00
50th quantile                 621.00
75th quantile                 890.00
90th quantile               1,015.00
95th quantile               1,353.00
dtype: float64