In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/chainVicPac2/")

## Data preview

In [3]:
display(df_data)

       contig  pos_start    pos_end  width
0        chr1  160236048  160236963    915
1       chr19    2834140    2834314    174
2       chr12  133696844  133697295    451
3        chr1  110259944  110260458    514
4       chr11   55999586   56000539    953
...       ...        ...        ...    ...
960503   chr8  146201575  146202909   1334
960504   chr7   56706761   56706949    188
960505   chr7  149461877  149462855    978
960506   chr9  104171125  104171462    337
960507   chr7   99668987   99669371    384

[7684066 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   55,470,283.54
median                 44,725,300.00
std                    47,450,314.67
min                             0.00
max                   249,235,740.00
25th quantile          22,846,725.00
50th quantile          44,725,300.00
75th quantile          58,806,239.75
90th quantile         131,765,429.00
95th quantile         150,310,343.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   55,471,197.03
median                 44,725,543.00
std                    47,450,542.79
min                         6,142.00
max                   249,235,993.00
25th quantile          22,847,005.00
50th quantile          44,725,543.00
75th quantile          58,806,666.00
90th quantile         131,773,655.50
95th quantile         150,310,863.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                          913.48
median                        366.00
std                        65,991.02
min                            32.00
max                    39,371,964.00
25th quantile                 212.00
50th quantile                 366.00
75th quantile                 657.00
90th quantile                 944.00
95th quantile               1,190.00
dtype: float64