In [21]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [22]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/chainOrnAna1/")

## Data preview

In [23]:
display(df_data)

       contig  pos_start    pos_end  width
0       chr11   56294046   56294332    286
1       chr11  123964978  123965339    361
2       chr10   42832888   42833426    538
3       chr16    3339929    3340551    622
4       chr11    6816022    6816696    674
...       ...        ...        ...    ...
244603   chr7   64438173   64438655    482
244604   chr7  143815550  143816427    877
244605   chr7  148920936  148921974   1038
244606   chr7   57529048   57529210    162
244607   chr7   63394796   63395707    911

[1956864 rows x 4 columns]

## Values borders

In [24]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   64,040,883.82
median                 50,938,531.00
std                    55,099,535.33
min                         4,997.00
max                   249,230,800.00
25th quantile          23,526,767.00
50th quantile          50,938,531.00
75th quantile          89,495,650.75
90th quantile         144,776,425.00
95th quantile         175,645,655.95
dtype: float64

In [25]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   64,044,572.05
median                 50,939,070.00
std                    55,100,085.60
min                         6,144.00
max                   249,231,241.00
25th quantile          23,527,139.00
50th quantile          50,939,070.00
75th quantile          89,496,815.75
90th quantile         144,777,066.40
95th quantile         175,645,830.00
dtype: float64

## Intervals length

In [26]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                        3,688.24
median                        540.00
std                        91,135.72
min                            65.00
max                    32,773,236.00
25th quantile                 323.00
50th quantile                 540.00
75th quantile                 893.00
90th quantile               1,662.00
95th quantile               9,981.85
dtype: float64