In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/chainXenTro3Link/")

## Data preview

In [3]:
display(df_data)

        contig  pos_start    pos_end  width
0        chr11    6806850    6806860     10
1        chr11    4496550    4496559      9
2         chr1  228091062  228091079     17
3        chr10   38241183   38241206     23
4         chr1   33960217   33960268     51
...        ...        ...        ...    ...
6372617   chr7  157664898  157664924     26
6372618   chr8  146106957  146107079    122
6372619   chr8    7214923    7214931      8
6372620   chr9   79634914   79634936     22
6372621   chr9   39445591   39445601     10

[50980975 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   58,794,811.81
median                 45,571,731.00
std                    53,634,685.01
min                         3,851.00
max                   249,231,193.00
25th quantile          21,477,318.00
50th quantile          45,571,731.00
75th quantile          64,864,175.00
90th quantile         140,215,821.00
95th quantile         170,228,950.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   58,794,880.63
median                 45,571,828.00
std                    53,634,684.16
min                         3,891.00
max                   249,231,234.00
25th quantile          21,477,349.00
50th quantile          45,571,828.00
75th quantile          64,864,260.00
90th quantile         140,215,836.00
95th quantile         170,228,999.60
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                           68.82
median                         27.00
std                           104.10
min                             1.00
max                        17,131.00
25th quantile                  14.00
50th quantile                  27.00
75th quantile                  70.00
90th quantile                 190.00
95th quantile                 288.00
dtype: float64