In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/ex-anno/")

## Data preview

In [3]:
display(df_data)

       contig  pos_start    pos_end  width
0        chr3  141952910  141953016    106
1        chr2   33257442   33257511     69
2        chr3   31704212   31704239     27
3        chr3   12484510   12484880    370
4        chr1  228145510  228145624    114
...       ...        ...        ...    ...
149280  chr22   19056985   19057162    177
149281  chr20   17952586   17952710    124
149282  chr20   25143367   25143513    146
149283  chr17   82236728   82236872    144
149284  chr19   54803640   54803691     51

[1194285 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   74,529,008.29
median                 60,397,257.00
std                    55,836,373.56
min                           576.00
max                   248,936,580.00
25th quantile          31,883,760.00
50th quantile          60,397,257.00
75th quantile         110,183,183.00
90th quantile         154,868,640.60
95th quantile         183,961,510.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   74,529,257.60
median                 60,397,338.00
std                    55,836,378.59
min                           647.00
max                   248,937,043.00
25th quantile          31,883,811.00
50th quantile          60,397,338.00
75th quantile         110,183,276.00
90th quantile         154,869,494.40
95th quantile         183,961,654.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                          249.31
median                        129.00
std                           589.16
min                             1.00
max                       205,012.00
25th quantile                  88.00
50th quantile                 129.00
75th quantile                 198.00
90th quantile                 421.00
95th quantile                 789.00
dtype: float64