In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/ex-rna/")

## Data preview

In [3]:
display(df_data)

        contig  pos_start    pos_end  width
0        chr15   78104766   78105855   1089
1        chr19   41861181   41871405  10224
2         chr1  101786278  101786531    253
3         chr6   31268754   31272078   3324
4         chr3   12836031   12840226   4195
...        ...        ...        ...    ...
1243065   chrX   23833360   23880954  47594
1243066  SIRV6       3033      11063   8030
1243067   chr3  121769844  121828491  58647
1243068  chr15   78878244   78897733  19489
1243069  chr11   61964572   61967405   2833

[9944559 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   61,435,027.93
median                 48,897,950.00
std                    54,100,064.65
min                             0.00
max                   248,941,832.00
25th quantile          17,074,390.00
50th quantile          48,897,950.00
75th quantile          93,669,792.00
90th quantile         141,006,184.00
95th quantile         167,683,924.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   61,445,532.69
median                 48,906,764.00
std                    54,102,710.01
min                            93.00
max                   248,942,873.00
25th quantile          17,077,655.00
50th quantile          48,906,764.00
75th quantile          93,682,625.50
90th quantile         141,014,935.00
95th quantile         167,706,242.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                       10,504.77
median                      2,684.00
std                        34,407.51
min                            80.00
max                     1,047,556.00
25th quantile                 830.00
50th quantile               2,684.00
75th quantile               6,722.00
90th quantile              21,634.00
95th quantile              40,504.00
dtype: float64