In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/exons/")

## Data preview

In [3]:
display(df_data)

      contig  pos_start    pos_end  width
0      chr17    7482805    7483044    239
1      chr10   79589112   79589288    176
2       chr1  112020604  112021134    530
3      chr13   43810771   43810874    103
4      chr13   64303521   64303642    121
...      ...        ...        ...    ...
54831   chr7   73522200   73522287     87
54832   chr7  128394582  128394776    194
54833   chrX  100417821  100417978    157
54834   chr9  133352257  133352348     91
54835   chr7  102242770  102242852     82

[438694 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   75,378,407.52
median                 60,198,583.00
std                    56,072,356.11
min                         6,010.00
max                   249,211,477.00
25th quantile          32,293,467.00
50th quantile          60,198,583.00
75th quantile         111,878,490.00
90th quantile         155,161,973.00
95th quantile         183,619,729.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   75,378,719.11
median                 60,198,682.50
std                    56,072,365.95
min                         6,168.00
max                   249,213,345.00
25th quantile          32,295,775.00
50th quantile          60,198,682.50
75th quantile         111,879,112.00
90th quantile         155,162,074.00
95th quantile         183,619,831.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                          311.59
median                        133.00
std                           729.38
min                             2.00
max                        91,671.00
25th quantile                  93.00
50th quantile                 133.00
75th quantile                 198.00
90th quantile                 515.00
95th quantile               1,289.00
dtype: float64