In [1]:
# Load libraries functions used in the notebook
%run functions.ipynb

In [2]:
# Load input data to analyze
df_data = load_data("../../data/databio-8p/fBrain-DS14718/")

## Data preview

In [3]:
display(df_data)

      contig  pos_start    pos_end  width
0      chr19   37861440   37862728   1288
1      chr11   64218970   64219069     99
2       chr2   25286465   25287608   1143
3       chr2  200775669  200777320   1651
4      chr17   42813982   42815054   1072
...      ...        ...        ...    ...
24822   chr9   72701263   72701611    348
24823   chrX   82755235   82755471    236
24824   chr8  144162945  144163091    146
24825   chr9   23842549   23842924    375
24826   chr9  139425143  139425484    341

[198621 rows x 4 columns]

## Values borders

In [4]:
display(pd.Series(generate_stats(df_data, 'pos_start')))

mean                   79,808,731.49
median                 70,466,642.00
std                    56,655,610.46
min                        10,036.00
max                   249,239,760.00
25th quantile          33,547,953.00
50th quantile          70,466,642.00
75th quantile         118,287,888.00
90th quantile         158,629,431.00
95th quantile         185,746,224.00
dtype: float64

In [5]:
display(pd.Series(generate_stats(df_data, 'pos_end')))

mean                   79,809,191.84
median                 70,467,034.00
std                    56,655,607.49
min                        10,180.00
max                   249,239,896.00
25th quantile          33,548,417.00
50th quantile          70,467,034.00
75th quantile         118,288,085.00
90th quantile         158,629,730.00
95th quantile         185,748,334.00
dtype: float64

## Intervals length

In [6]:
display(pd.Series(generate_stats(df_data, 'width')))

mean                          460.35
median                        307.00
std                           471.97
min                            10.00
max                        10,030.00
25th quantile                 198.00
50th quantile                 307.00
75th quantile                 555.00
90th quantile                 978.00
95th quantile               1,353.00
dtype: float64